/* General Styles */
body {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  background-color: #0d1117;
  color: #c9d1d9;
  line-height: 1.6;
}

a {
  color: #39ff14;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Header and Hero Section */
header {
  text-align: center;
  padding: 20px;
}

.hero {
  background: linear-gradient(135deg, #0f0f0f, #1a1a1a);
  /*padding: 50px 20px;*/
  max-width: 800px;
  padding: 20px;
  margin: 20px auto;
  border-radius: 16px;
}

.logo {
  max-width: 150px;
  border-radius: 50%;
}

h1 {
  font-size: 3rem;
  color: #39ff14;
}

.tagline {
  font-style: italic;
  color: #8b949e;
}

nav {
  background-color: #161b22;
  padding: 20px;
  margin: 20px auto;
  border-radius: 16px;
  max-width: 800px;
  text-align: center;
}

/* Navigation */
nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  font-weight: bold;
}

/* Sections */
section {
  padding: 20px;
  margin: 20px auto;
  max-width: 800px;
  border: 1px solid #21262d;
  border-radius: 16px;
  background-color: #161b22;
}

h2 {
  color: #39ff14;
}

/* Footer */
footer {
  text-align: center;
  padding: 20px;
  background-color: #0d1117;
  color: #8b949e;
  border-top: 1px solid #21262d;
  max-width: 800px;
  margin: 40px auto 20px;
  border-radius: 16px;
}

/* Matrix Canvas */
#matrix {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  /* Push behind other elements */
  background: black;
}